*{
    margin: 0;
    padding: 0;
}
.bc{
    width: 93%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 6%;
}
.bc1{
    box-sizing: border-box;
    border: 2px solid #000;
    position: absolute;
    left: 7%;
    top: 2%;
    width: 85%;
    height: 85%;
}
.bc>div{
    float: left;
    width: 40px;
    height: 60px;
    border: 1px solid #000;
    margin:50px 50px;
}
.bc div img{
    width:40px;
}

